/* @import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
:root {
  --value : 0px;
  --theme-color: rgb(255, 255, 255);
  --text-color: rgb(0, 153, 255);
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 151vmin;
  min-width: 212.188px;
  background-color: #fff;
  padding: 5px 0 0;
  display: grid;
  place-items: center;
  position: relative;
  margin: auto;
  border: 1px solid skyblue;
  overflow: hidden;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color)/*#008BFF1C*/;
  border-radius: 5px;
  padding: 2px 5px;
  position: relative;
}

.counter .complet,
.counter .not-complet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}
.complet {
  background-color: #00C7941F;
}
.not-complet {
  background-color: #C700421F;
}
.complet ion-icon, 
.complet span {
  color: #00987A;
  --ionicon-stroke-width: 40px;
}
.complet span,
.not-complet span {
  font-size: 13px;
  font-weight: 500;
}
.not-complet ion-icon,
.not-complet span {
  color: #C70042;
  --ionicon-stroke-width: 40px;
}


.icon {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.icon ion-icon {
  font-size: 25px;
  color: var(--text-color) /*#008BFF;*/
}
.list {
  position: absolute;
  list-style: none;
  right: 5px;
  width: 0;
  border-radius: 5px 0 5px 5px;
  background-color: var(--theme-color);
  overflow: hidden;
  transition: width .3s linear;
  z-index: 999;
}
.open-list {
  width: 160px;
}
.item {
  width: 160px;
  padding: 2.5px 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin-top: 2.5px;
  color: var(--text-color);
  transition: background-color .3s linear;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}
.item:hover {
  background-color: var(--text-color);
  color: #FFFFFF;
  border-color: #fff;
}
.colors {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.colors li {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
}
.colors li ion-icon {
  color: red;
  --ionicon-stroke-width: 51px;
  top: -1px;
  left: -1px;
  position: absolute;
}


.content {
  width: 100%;
  height: calc(100vh - 44px);
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(219px, auto));
  place-content: center
}
.box-task {
  min-height: 150px;
  max-width: 200px;
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 10px;
  background-color: #9b728517;
  position: relative;
  box-shadow: 0 5px 10px 1px #D5D5D5;
}
.box-task.complet {
  background-color: #00C7941F;
  opacity: 0.6;
}
.box-task .title {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.box-task .title > .task-title {
  color: var(--text-color);
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  padding-top: 15px;
  padding-left: 5px
}
.box-task ion-icon {
  color: #C70D35;
  --ionicon-stroke-width: 50px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.box-task .desc-hint {
  color: #00447AE8;
  font-weight: 500;
  font-size: 15px;
  padding: 45px 5px 10px;
  overflow: hidden;
}
.box-task .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17px;
  position: relative;
  margin-top: auto;
}
.box-task .status {
  display: grid;
  place-content: center;
  position: relative;
  width: 15px;
  height: 15px;

}
.box-task .status input {
  display: none;
}
.box-task .status label {
  width: 15px;
  height: 15px;
  border: 1.5px solid var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}
.box-task .status label ion-icon {
  color: #00987A;
  position: absolute;
  top: -2px;
  left: -2px;
  visibility: hidden;
  transition: all .2s;
  transform: scale(0);
}

.box-task .status input:checked + label ion-icon {
  visibility: visible;
  transform: scale(1);
}
.box-task .date {
  font-size: 10px;
  font-weight: 500;
  color: #00447A8F
}

.empty {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}
.empty img {
  max-width: 368px;
  position: absolute;
  width: 100%;
}

.add-box {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(100% - 70px);
  left: calc(100% - 70px);
}
.add-box .add {
  background-color: var(--text-color);
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.add-box .add ion-icon {
  position: absolute;
  font-size: 78px;
  top: -7.7px;
  left: -7.55px;
  color: var(--theme-color);
  cursor: pointer;
  transition: transform .3s linear;
}
.add-box .add ion-icon:hover {
  transform: rotate(180deg);
}

.add-container {
  background-color: #272727;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0);
  top: 600px;
  visibility: hidden;
  transition: all .1s linear;
}
.visible {
  top: 0;
  transform: scale(1);
  visibility: visible;
}
.add-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
.add-content::-webkit-scrollbar {
  display: none;
}
.add-content > input {
  display: block;
  outline: none;
  border: none;
}
.add-content > input::placeholder{
  color: rgb(140, 140, 140);
}
.add-content .task-to-do-title {
  height: 60px;
  width: 80%;
  font-size: 25px;
  font-weight: 600;
  padding: 1px 10px;
  background-color: transparent;
  color: #e8f9fc;
  letter-spacing: 1.5px;
}
.add-content .task-to-do {
  height: calc(100% - 60px);
  background-color: transparent;
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #e8f9fc;
  padding: 5px 20px;
  outline: none;
  border: none;
}
.task-to-do::-webkit-scrollbar {
  display: none;
}

.add-content .controls{
  color: white;
  width: 20%;
  padding: 10px;
  position: relative;
  margin: 5px;
  margin-left: auto;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-evenly;
}

.add-content .aplly ion-icon,
.add-content .discard ion-icon {
  color: rgb(1, 255, 208);
  --ionicon-stroke-width: 90px;
  font-size: 20px;
  cursor: pointer;
}
.add-content .discard ion-icon {
  color: rgb(255, 135, 135);
  --ionicon-stroke-width: 70px;
}









