@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
  --value : 0px;
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 16px;
}

.container {
  width: 90vmin;
  background-color: #fff;
  padding: 5px 0 0;
  display: grid;
  place-items: center;
  position: relative;
  margin: auto;
  border: 1px solid skyblue
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008BFF1C;
  border-radius: 5px;
  padding: 2px 5px;
  position: relative;
}

.counter .complet,
.counter .not-complet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}
.complet {
  background-color: #00C7941F;
}
.not-complet {
  background-color: #C700421F;
}
.complet ion-icon, 
.complet span {
  color: #00987A;
  --ionicon-stroke-width: 40px;
}
.complet span,
.not-complet span {
  font-size: 13px;
  font-weight: 500;
}
.not-complet ion-icon,
.not-complet span {
  color: #C70042;
  --ionicon-stroke-width: 40px;
}


.icon {
  display: grid;
  place-items: center;
}
.icon ion-icon {
  font-size: 25px;
  color: #008BFF;
}
.list {
  position: absolute;
  list-style: none;
  right: 5px;
  width: 0;
  border-radius: 5px 0 5px 5px;
  background-color: #E3F2FF;
  overflow: hidden;
  transition: width .3s linear;
  z-index: 999;
}
.open-list {
  width: 150px;
}
.item {
  width: 150px;
  padding: 2.5px 20px;
  border: 1px solid #0AA7FF;
  border-radius: 5px;
  margin-top: 2.5px;
  color: #0074B5;
  transition: background-color .3s linear;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}
.item:hover {
  background-color: #0074B5;
  color: #FFFFFF;
  border-color: #fff;
}


.content {
  width: 100%;
  height: calc(100vh - 44px);
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(219px, auto));
  place-content: center
}
.box-task {
  min-height: 150px;
  max-width: 200px;
  border: 1px solid #0087D2;
  padding: 10px;
  border-radius: 10px;
  background-color: #17ACFF14;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 10px;
  background-color: #B5125F17;
  position: relative;
  box-shadow: 0 5px 10px 1px #D5D5D5;
}
.box-task.complet {
  background-color: #00C7941F;
  opacity: 0.6;
}
.box-task .title {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.box-task .title > .task-title {
  color: #004E7A;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  padding-top: 15px;
  padding-left: 5px
}
.box-task ion-icon {
  color: #C70D35;
  --ionicon-stroke-width: 50px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.box-task .desc-hint {
  color: #00447AE8;
  font-weight: 500;
  font-size: 15px;
  padding: 45px 5px 10px;
  
}
.box-task .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17px;
  position: relative;
  margin-top: auto;
}
.box-task .status {
  display: grid;
  place-content: center;
  position: relative;
  width: 15px;
  height: 15px;

}
.box-task .status input {
  display: none;
}
.box-task .status label {
  width: 15px;
  height: 15px;
  border: 1.5px solid #00987A;
  border-radius: 50%;
  cursor: pointer;
}
.box-task .status label ion-icon {
  color: #00987A;
  position: absolute;
  top: -2px;
  left: -2px;
  visibility: hidden;
  transition: all .2s;
  transform: scale(0);
}

.box-task .status input:checked + label ion-icon {
  visibility: visible;
  transform: scale(1);
}
.box-task .date {
  font-size: 10px;
  font-weight: 500;
  color: #00447A8F
}

.add-box {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(100% - 70px);
  left: calc(100% - 70px);
}
.add-box .add {
  background-color: #00A4FF;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.add-box .add ion-icon {
  position: absolute;
  font-size: 73px;
  top: -6.7px;
  left: -6.3px;
  color: #92D8FF;
  cursor: pointer;
}













